// Mixins in here
.center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexflow(@justify, @align) {
    display:flex;
    justify-content: @justify;
    align-items: @align;
}

.responsive(@maxWidth; @rules) {
    @media only screen and (max-width: @maxWidth) {
        @rules();
    }
}

// .btn(width, height)
.btn(@w, @h) {
    color: white;
    font-size: 1.5rem;
    width: @w;
    height: @h;
    padding: 1rem;
    background-color: @button-bg;
    text-align: center;
    border-radius: 10px;
}