// Navigation Styles here
.navigation {
    .flexflow(space-evenly, center);
    border-bottom: 2px dashed @navigation-border;
    height: 8rem;
    .responsive(800px, {flex-direction: column;});
    .navText {
        margin-left: 25%;
        .responsive(800px, {margin: auto;});
      }
      .navText {
      }
  
      .navLinks {
        // Seperate our text and links
        .flexflow(space-between, center);
        margin-right: 25%;
        .responsive(800px, {z-index: 1; margin: auto; justify-content: space-around;flex-wrap: wrap;}
  
        a {
          text-decoration: none;
          color: @shark;
          margin-left: 2.5rem;
          font-size: 1.6rem;
          font-weight: bold;
          margin-bottom: 3rem;
        }
      }
  }
  